<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="mi-button">
          <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'productos' %}">Productos</a>
        <a class="navbar-brand" href="{% url 'proveedores' %}">Proveedores</a>
        <a class="navbar-brand" href="{% url 'compras' %}">Compras</a>
        <a class="navbar-brand" href="{% url 'stock' %}">Stock</a>
        
        {% if user.is_authenticated %}    
          {% if url %}
            <img height="40px" src="{{url}}" alt="avatar">
          {% endif %}
          <h5>Bienvenido {{user.username}}</h5>
                   
          <a class="btn btn-primary" href="{% url 'logout' %}">LOGOUT</a>
          <a class="navbar-brand" href="{% url 'editarperfil' %}">Actualizar usuario</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'login' %}">LOGIN</a>
          <a class="btn btn-primary" href="{% url 'registro' %}">NUEVO USUARIO</a>
        {% endif %}
    </div>
  </nav>