{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
    <div class="col-xl-6">
      <div class="text-black">
          <h1 class="mb-15">GESTION DE PRODUCTOS</h1>
      </div>
    </div>
   
{% endblock contenidoQueCambia %}

{% block contenidoQueCambia2 %}
  
  <form method="POST">{% csrf_token %}

    <p>Está seguro que desea eliminar el registro?</p>

    <button type="submit"> Confirmar </button>
    <button><a href="{% url 'inicio' %}">Cancelar</a></button>
    
  </form>
  

{% endblock contenidoQueCambia2 %}